*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: burlywood;
color: tomato;
}
body{
	background-color: tomato;
	color: black;
}
.glyphicon{
	font-size: 30px;
	color:darkblue; 
}

.center{
	width: 90%;
	background-color: red;

}
.container
{
	background-color: goldenrod;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}